<div class="container">
    <div class="card-header">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Select Car Series</label>
                <select class="form-control" formControlname="seriesName" (change)="getSeriesId($event)">
                    <option value="">Select</option>
                    <option [value]="series.seriesId" *ngFor="let series of seriesList">{{series.seriesName}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Select Car Model</label>
                <select class="form-control" formControlname="modelName" (change)="getModelId($event)">
                    <option value="">Select</option>
                    <option [value]="models.modelId" *ngFor="let models of modelList">{{models.modelName}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Select Accessory</label>
                <ng-multiselect-dropdown formControlname="Accessory" [placeholder]="'Select'" [data]="accessoriesList"
                    [(ngModel)]="selectedItems1" [settings]="accessoriesDropdownSettings"
                    (onSelect)="onAccessSelect($event)" (onDeSelect)="onAccessDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Select Color</label>
                <ng-multiselect-dropdown formControlname="color" [placeholder]="'Select'" [data]="colorsList"
                    [(ngModel)]="selectedItems2" [settings]="colorsDropdownSettings" (onSelect)="onColorSelect($event)"
                    (onDeSelect)="onColorDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-dark">Reset</button>
            </div>

            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-dark" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Total Price : {{this.totalPrice}}</h2>
            <br>
            <h2>{{this.success}}</h2>
        </div>


    </div>
</div>